profile.html: {% extends "readira/base.html" %} 
{% load i18n static widget_tweaks %}

{% block content %}
<section class="bg-white dark:bg-black text-black dark:text-white py-24 px-4">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-6">
    {% if messages %}
      <div class="col-span-3">
        {% for message in messages %}
          {% if message.tags == 'success' %}
            <div class="p-4 text-xl text-green-600 text-center font-bold mx-auto w-full max-w-lg">
              {{ message }}
            </div>
          {% elif message.tags == 'error' %}
            <div class="p-4 text-xl text-red-600 text-center font-bold mx-auto w-full max-w-lg">
              {{ message }}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <!-- Personal Info Card -->
    <div class="border border-gray-300 dark:bg-gray-800 p-4 rounded shadow flex flex-col">
      <h2 class="text-xl font-bold mb-4 text-black dark:text-white">{% trans "Personal Information" %}</h2>
      <form method="post">
        {% csrf_token %}
        <div class="mb-4 flex items-center gap-4">
          <label for="{{ profile_form.full_name.id_for_label }}" class="w-48 font-medium">{% trans "Full Name" %}</label>
          {{ profile_form.full_name | add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
        </div>
        <div class="mb-4 flex items-center gap-4">
          <label for="{{ profile_form.avatar_url.id_for_label }}" class="w-48 font-medium">{% trans "Avatar URL" %}</label>
          {{ profile_form.avatar_url | add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
        </div>
        <div class="mb-4 flex items-center gap-4">
          <label for="{{ profile_form.city.id_for_label }}" class="w-48 font-medium">{% trans "City" %}</label>
          {{ profile_form.city | add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
        </div>
        <div class="mb-4 flex items-center gap-4">
          <label for="{{ profile_form.country.id_for_label }}" class="w-48 font-medium">{% trans "Country" %}</label>
          {{ profile_form.country | add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
        </div>
        <div class="mb-4 flex items-center gap-4">
          <label for="{{ profile_form.street.id_for_label }}" class="w-48 font-medium">{% trans "Street" %}</label>
          {{ profile_form.street | add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
        </div>
        <div class="mb-4 flex items-center gap-4">
          <label for="{{ profile_form.zip_code.id_for_label }}" class="w-48 font-medium">{% trans "ZIP Code" %}</label>
          {{ profile_form.zip_code | add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
        </div>
        <div class="mb-4 flex items-center gap-4">
          <label for="{{ profile_form.preferred_channel.id_for_label }}" class="w-48 font-medium">{% trans "Preferred Channel" %}</label>
          {{ profile_form.preferred_channel | add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
        </div>
        <div class="mb-4 flex items-center gap-4">
          <label for="{{ profile_form.email.id_for_label }}" class="w-48 font-medium">{% trans "Email" %}</label>
          {{ profile_form.email | add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
        </div>
        <button type="submit" name="save_profile" class="inline-block mt-4 px-5 py-2 bg-blue-800 hover:bg-blue-600 text-white rounded-lg font-semibold">
          {% trans "Save Profile" %}
        </button>
        </form>
    </div>

    <!-- Change Password Card -->
    <div class="border border-gray-300 dark:bg-gray-800 p-4 rounded shadow flex flex-col">
      <h2 class="text-xl font-bold mb-4 text-black dark:text-white">{% trans "Change Password" %}</h2>
      <form method="post">
        {% csrf_token %}

        <!-- Old Password -->
        <div class="mb-4">
          <div class="flex items-center gap 4">
            <label for="{{ password_form.old_password.id_for_label }}" class="w-48 font-medium">{% trans "Old password" %}</label>
            {{ password_form.old_password|add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
          </div>
          {% if password_form.old_password.errors %}
            <div class="text-red-500 text-sm mt-2 ml-40">
              {% for error in password_form.old_password.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <!-- New Password -->
        <div class="mb-4 flex items-center gap-4">
          <label for="{{ password_form.new_password1.id_for_label }}" class="w-48 font-medium">{% trans "New password" %}</label>
          {{ password_form.new_password1|add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
          {% if password_form.new_password1.errors %}
            <div class="text-red-500 text-sm">
              {% for error in password_form.new_password1.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <!-- New Password Confirmation -->
        <div class="'mb-4">
          <div class="flex items-center gap-4">
            <label for="{{ password_form.new_password2.id_for_label }}" class="w-48 font-medium">{% trans "New password confirmation" %}</label>
            {{ password_form.new_password2|add_class:"w-full rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white px-3 py-2" }}
          </div>
          {% if password_form.new_password2.errors %}
            <div class="text-red-500 text-sm mt-2 ml-40">
              {% for error in password_form.new_password2.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <button type="submit" name="change_password" class="inline-block mt-4 px-5 py-2 bg-blue-800 hover:bg-blue-600 text-white rounded-lg font-semibold">
          {% trans "Change Password" %}
        </button>
        </form>
    </div>

    <!-- Order and Subscription container -->
    <div class="border border-gray-300 dark:bg-gray-800 p-4 rounded shadow flex flex-col justify-between">
      
      <!-- Orders -->
      <div>
        <h2 class="text-xl font-bold mb-4 text-black dark:text-white">{% trans "Orders" %}</h2>

        {% if orders %}
          {% for order in orders %}
            <div class="text-sm mb-6">
              <p>#{{ order.id }} – {{ order.submitted_at|date:"SHORT_DATE_FORMAT" }} - {{ order.total_cost }} {{ order.currency|default:"EUR" }} - {{ order.get_status_display }}</p>
            </div>
          {% endfor %}
        {% else %}
          <p class="text-sm text-gray-500">{% trans "No orders found." %}</p>
        {% endif %}
      </div>

      <!-- Subscription -->
      <div>
        <h2 class="text-xl font-bold mb-4 text-black dark:text-white">{% trans "Subscription History" %}</h2>
        {% if subscriptions %}
          {% for sub in subscriptions %}
            <div class="text-sm mb-6">
              <p>#{{ sub.id }} – {{ sub.created_at|date:"SHORT_DATE_FORMAT" }} – {{ sub.plan.name }} – {{ sub.get_status_display }}</p>
            </div>
          {% endfor %}
        {% else %}
          <p class="text-sm text-gray-500">{% trans "No subscriptions found." %}</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}