{% extends "readira/base.html" %}
{% load i18n static %}

{% block content %}
<section class="px-4 py-12 bg-white dark:bg-black text-black dark:text-white">

  <!-- Container for registration form -->
  <div class="mx-auto max-w-md mt-24 p-8 rounded border border-gray-300 dark:bg-gray-800 p-4 shadow flex flex-col">
    
    <!--Page title -->
    <h2 class="text-center text-2xl text-black dark:text-white font-bold mb-6">Create an Account</h2>

    {% if error %}
      <div class="rounded bg-red-500 text-sm text-white p-3 mb-4 ">
        {{ error }}
      </div>
    {% endif %}
    
    <!-- Registration form-->
    <form method="post" class="space-y-4">
      {% csrf_token %}

      <!-- Email -->
      <input type="email" name="email" placeholder="Email" required
             class="w-full px-4 py-2 rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white">

      <!-- Password -->
      <input type="password" name="password" placeholder="Password" required
             class="w-full px-4 py-2 rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white">

      <!-- Confirm pasword -->
      <input type="password" name="confirm_password" placeholder="Confirm Password" required
             class="w-full px-4 py-2 rounded-lg border border-zinc-400 dark:border-zinc-500 bg-white dark:bg-zinc-800 text-black dark:text-white">

      <!-- Sign Up button -->
      <button type="submit" class="w-full py-2 rounded-xl bg-pink-800 hover:bg-pink-600 text-white  font-semibold">
        Sign Up
      </button>
    </form>

    <!--Login link -->
    <p class="text-center text-sm text-gray-400 mt-4">
      Already have an account?
      <a href="{% url 'user_account:login' %}" class="text-blue-500 font-semibold hover:underline">Log in</a>
    </p>
  </div>
</section>
{% endblock %}