{% extends "readira/base.html" %}
{% load i18n static widget_tweaks %}

{% block content %}
    <div class="max-w-3xl mx-auto py-24 px-4">
        <!-- Title -->
        <h2 class="mb-6 text-2xl font-bold text-black dark:text-white">
            {% if form.instance.pk %}
                {% trans "Edit Book" %}
            {% else %}
                {% trans "Add Reading Material" %}
            {% endif %}
        </h2>

        <!-- Add reading material FORM -->
        <form method="post" enctype="multipart/form-data"
            class="p-6 space-y-6 bg-white dark:bg-gray-800 border border-gray-300 rounded shadow">
            {% csrf_token %}
            {% for field in form %}

                <!-- Label and input container -->
                <div class="flex items-center gap-4">
                    <label for="{{ field.id_for_label }}"
                        class="w-48 font-medium text-black dark:text-white">
                            {{ field.label }}
                    </label>
                    {{ field|add_class:"w-full px-3 py-2 bg-white dark:bg-zinc-800 border border-gray-300 text-black dark:text-white rounded-lg" }}
                </div>

                <!-- Input errors -->
                {% if field.errors %}
                    <p class="ml-48 text-sm text-red-600">
                        {{ field.errors|striptags }}
                    </p>
                {% endif %}
            {% endfor %}

            <!-- Buttons: Save & Cancel -->
            <div class="pt-4">
                <button type="submit"
                    class="px-5 py-2 bg-green-700 hover:bg-green-600 text-white font-semibold rounded-lg">
                    {% trans "Save" %}
                </button>
                <button type="submit"
                    class="ml-4 px-5 py-2 bg-gray-600 hover:bg-gray-500 text-white font-semibold rounded-lg">
                    {% trans "Cancel" %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}