{% extends "readira/base.html" %}
{% load i18n static %}

{% block content %}
<div class="mx-auto max-w-6xl px-4 pt-24 pb-24">

    <!-- Title and Add button -->  
    <div class="mb-6 flex flex-col gap-y-4 md:flex-row md:items-center md:justify-between md:gap-x-6">

        <!-- Title -->
        <h2 class="text-2xl font-bold text-black dark:text-white">
            {% trans "Reading Materials Administration" %}
        </h2>

        <!-- Add button -->
        <a href="{% url 'admin_backend:book_create' %}"
            class="px-4 py-2 rounded-lg bg-blue-800 hover:bg-blue-600 text-white font-semibold shadow">
            + {% trans "Add" %}
        </a>
    </div>

  <!-- Reading Materials -->
  {% if books %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      {% for book in books %}

        <!-- Reading material individual card -->
        <div class="p-4 rounded border border-gray-300 dark:bg-gray-800 shadow flex flex-col justify-between">
          
          <!-- Reading material info -->
          <div>
            <p class="text-lg font-bold text-black dark:text-white">
              {{ book.title }}
            </p>
            <p class="text-sm text-gray-700 dark:text-gray-300">
              {% trans "Author" %}: {{ book.author.name }} {{ book.author.surname }}
            </p>
          </div>

          <!-- Edit and Delete links -->
          <div class="flex gap-4 mt-4">
            <a href="{% url 'admin_backend:book_edit' book.pk %}"
               class="text-blue-600 dark:text-blue-400 hover:underline">
               {% trans "Edit" %}
            </a>
            <a href="{% url 'admin_backend:book_delete' book.pk %}"
               class="text-red-600 dark:text-red-400 hover:underline">
               {% trans "Delete" %}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}

    <!-- Message displayed if there are no books -->
    <p class="text-sm text-gray-700 dark:text-gray-300">
      {% trans "There are no reading materials at the moment." %}
    </p>
  {% endif %}
</div>
{% endblock %}